<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>武汉理工大学电费系统</title>
    <link href="https://sf3-cdn-tos.douyinstatic.com/obj/eden-cn/eseh7nupevhps/test/logo.png" rel="shortcut icon">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
