<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>武汉理工大学电费系统</title>
</head>

<body>
  <div id="root"></div>
  <script src="//cdn.ravenjs.com/3.19.1/raven.min.js" crossorigin="anonymous"></script>
  <script>Raven.config('https://c50c2de317c44ea3b2a3c803da7af214@sentry.wutnews.net/20').install();</script>
</body>

</html>
